﻿@model WebApplication1.Models.AccountViewModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.Partial("_NavBar")

        <form method="post">
            <font size=5>Enter Deposit Amount:</font>
            <input type="text" class="form-control input-field" id="amount" name="amount" placeholder="$0.00">
            <input type="hidden" id="accountId" name="accountId" value="@Model.AccountId" />
            @Model.Message
            <div>
                <button class="btn btn-primary input-field" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
