﻿@model WebApplication1.Models.AccountViewModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @Html.Partial("_NavBar")
    <div>
        <h2>Welcome @Model.FirstName! Click Account to manage your account.</h2>
    </div>
</body>
</html>
