﻿@model WebApplication1.Models.AccountViewModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.Partial("_NavBar")
        <font size="5">Your Current Account Balance Is: @Model.AccountBalance.ToString("C2")</font>
    </div>
</body>
</html>
