﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.Partial("_NavBar")
    <h2 style="align-content:center">World's Greatest Banking Ledger</h2>
    <h5>Welcome! Please login or create account to start!</h5>
    @ViewBag.Message
</div>
