﻿@model WebApplication1.Models.LoginViewModel
@{
    ViewBag.Title = "Login Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

        <title></title>
</head>
<body>
    @Html.Partial("_NavBar")
    <font size="6">@ViewBag.Message</font>
    <font size="6">@Model.Message</font>
    <div>
        <form method="post">
            <input type="text" class="form-control input-field" id="Username" name="Username" value="@Model.Username" placeholder="Username">
            <input type="password" class="form-control input-field" id="Password" name="Password" value="@Model.Password" placeholder="Password">
            <button type="submit" class="btn btn-primary" id="SubmitButton" name="Submit Button">Login</button>
        </form>
    </div>
</body>
</html>
